comp.png
*.ico

# R
.Rproj.user
.Rhistory
.RData

# Sensitive Files
2_Literature_Search/
3_Article_Screen/3_3_Meta/Old_Version/
3_Article_Screen/3_4_Material/
4_Data_Extraction/4_2_Formal_Data/
6_Reports/

# Office temp Files
~$*

# Windows
desktop.ini